#content-cadastro{
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #00000066;
}

#login-area{
    background-color: white;
    height: 280px;
    width: 300px;
    border-radius: 15px;
    border: 1px solid rgba(138, 138, 138, 0.295);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.479);
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#login-area p i{
    color: #11175e;
}

.btn-acess{
    display: flex;
    justify-content: center;
}